<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="pushbaby" type="Pushbaby.Server.Settings, Pushbaby.Server" />
  </configSections>

  <pushbaby>
    <endpoints>
      <endpoint uri="http://+:80/pushbaby/"
                sharedSecret="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                payloadDirectory="c:\delete-me"
                executableFile="C:\Users\Pete\Desktop\script.bat" />
    </endpoints>
  </pushbaby>
  
</configuration>