<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SharedSecret" value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />
    <add key="DeploymentDirectory" value="c:\delete-me" />
    <add key="ExecutableFile" value="C:\Users\Pete\Desktop\script.bat" />
  </appSettings>

</configuration>