<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="pushbaby" type="Pushbaby.Server.Settings, Pushbaby.Server" />
  </configSections>

  <pushbaby>
    <endpoints>
      <endpoint uri="http://+:80/invalid-uri-with-no-trailing-slash"
                sharedSecret="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                deploymentDirectory="c:\deployments"
                executableFile="c:\deployments\deployment-script.bat" />
    </endpoints>
  </pushbaby>

</configuration>